
body,
html {
  width: 100%;
  height: 100%;
}


#header {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}
#header > #header-bg , #header > #header-title {
	width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#header > #header-bg {
	background-image: url("../../images/apps/banner.jpg");
	 height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;     
	opacity: 0.97;
	animation: zoom 18s infinite;
  -webkit-animation: zoom 18s infinite;
}

#header > #header-title { 
	color: aqua;
	
}

#header > #header-title h1 {
	color: #fff;
}

@keyframes zoom {
  0% {
    background-size: cover;    

  }
  50% {
    -moz-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
     background-size: : scale(1.2,1.2);  
  }
  100% {
    background-size: cover;    
  }
}

header.parallax h1 {
  font-size: 2.25rem;
	opacity: 1 !important;
}

@media (min-width: 992px) {
  #header > #header-bg {
    height: 100h;
    min-height: 40rem;
    padding-top: 72px;
    padding-bottom: 0;
  }
  #header > #header-title p {
    font-size: 1.15rem;
  }
  #header > #header-title h1 {
    font-size: 3.55rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 3.5rem;
  }
}


#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #000;
  transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: #6c757d;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  font-size: 0.9400rem;
  padding: 0.75rem 0;
}

#mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
  color: #f4623a;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: #f4623a !important;
}

@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-brand:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-scrolled {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #000;
  }
  #mainNav.navbar-scrolled .navbar-brand {
    color: #212529;
  }
  #mainNav.navbar-scrolled .navbar-brand:hover {
    color: #f4623a;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
    color: #fff;
  }
  #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
    color: #f4623a;
  }
}
